# Virtual environment
enviornment_venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# ZIP files
*.zip

# macOS
.DS_Store

# Ignore everything in data
PCBSegClassNet/data/*

# But keep the yolo folder
!PCBSegClassNet/data/yolo/
!PCBSegClassNet/data/yolo/**

PCBSegClassNet/data/yolo/
*.zip
